<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>CampAlot</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" th:href="@{/stylesheets/style.css}">
		<link rel="stylesheet" th:href="@{/stylesheets/landing-1.css}">
		<link rel="stylesheet" th:href="@{/stylesheets/landing-2.css}">
	</head>
	<body>

	<div th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark pb_navbar pb_scrolled-light" id="pb-navbar">
			<div class="container">
			<a th:href="@{/}" class="navbar-brand"><i class="fas fa-campground"></i> CampAlot</a>
			<button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#probootstrap-navbar" aria-controls="probootstrap-navbar" aria-expanded="false" aria-label="Toggle navigation">
				<span><i class="ion-navicon"></i></span>
			</button>
			<ul class="collapse navbar-collapse" id="probootstrap-navbar">
				<li class="nav-item"><a class="nav-link" th:href="@{/campgrounds}">Home</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/about}">About</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/bookings}">Bookings</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/pricing}">Pricing</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/faq}">FAQ</a></li>
            <li class="nav-item cta-btn ml-xl-2 ml-lg-2 ml-md-0 ml-sm-0 ml-0"><a class="nav-link" th:href="@{/signup}"><span class="pb_rounded-4 px-4">Sign-Up</span></a></li>
            <li class="nav-item cta-btn ml-xl-2 ml-lg-2 ml-md-0 ml-sm-0 ml-0"><a class="nav-link" th:href="@{/login}"><span class="pb_rounded-4 px-4">Login</span></a></li>
            <li sec:authorize="hasRole('ROLE_USER')" class="nav-item cta-btn ml-xl-2 ml-lg-2 ml-md-0 ml-sm-0 ml-0"><a class="nav-link" th:href="@{/logout}"><span class="pb_rounded-4 px-4">Logout</span></a></li>
				</ul>
			</div>
		</nav>
	</div>



	<div th:fragment="footer">
	
	<footer class="pb_footer bg-light" role="contentinfo">
      <div class="container">
        <div class="row text-center">
          <div class="col">
            <ul class="list-inline">
              <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-facebook"></i></a></li>
              <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-twitter"></i></a></li>
              <li class="list-inline-item"><a href="#" class="p-2"><i class="fa fa-linkedin"></i></a></li>
            </ul>
          </div>
        </div>
        <div class="row">
          <div class="col text-center">
            <p class="pb_font-14">&copy; ZIMA 2019. All Rights Reserved</p>
          </div>
        </div>
      </div>
    </footer>

		

		<!-- jQuery CDN -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>

		<!-- Custom JS for search feature -->
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"></script>
		<!-- Bootstrap JS CDN -->
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"></script>

	</div>
</body>
</html>