<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>CampAlot</title>
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
		<link rel="stylesheet" th:href="@{/stylesheets/main.css}">
	</head>
	<body>

	<div th:fragment="header">
		<nav class="navbar navbar-expand-md navbar-light bg-light">
			<a th:href="@{/}" class="navbar-brand"><i class="fas fa-campground"></i> CampAlot</a>
			<button type="button" class="navbar-toggler" data-toggle="collapse"
				data-target="#navbarCollapse">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarCollapse">
				<div class="navbar-nav">
					<a th:href="@{/campgrounds}" class="nav-item nav-link active">Home</a> <a th:href="@{/about}"
						class="nav-item nav-link">About</a> <a th:href="@{/bookings}"
						class="nav-item nav-link">Bookings</a> <a th:href="@{/view}"
						class="nav-item nav-link">View Campgrounds</a>
				</div>
				<div sec:authorize="isAnonymous()" class="navbar-nav ml-auto">
					<a th:href="@{/signup}" class="nav-item nav-link">Sign-Up</a>
					<a th:href="@{/login}" class="nav-item nav-link">Login</a>
				</div>
				<div sec:authorize="hasRole('ROLE_USER')" class="navbar-nav ml-auto">
					<a th:href="@{/logout}" class="nav-item nav-link">Logout</a>
				</div>
			</div>
		</nav>
	</div>



	<div th:fragment="footer">

		<footer class="footer">
			<div class="container">
				<p class="text-white">&copy; ZIMA 2018</p>
			</div>
		</footer>

		<!-- jQuery CDN -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>

		<!-- Custom JS for search feature -->
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"></script>
		<!-- Bootstrap JS CDN -->
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"></script>

	</div>
</body>
</html>